<body>
    <div class="body flex-grow-1 px-3">
        <div class="container-lg">
            <h1 class="display-1">Fuel Delivery</h1>
            <p class="lead">Once a fuel truck arrives to deliver fuel, managers can record the amount of fuel received here.</p>
            <div class="row row-cols-1">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Receive Shipment for <strong>{{station.stationName}}</strong>
                        </div>
                        <div class="card-body">
                            {{#if mssg}}
                                <div class="alert alert-success" role="alert">
                                    {{mssg}}
                                </div>
                            {{/if}}
                            
                            <form method='post' id="delivery" class="row g-3">
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="floatingInputGrid" value="{{station.fuelGrades.Premium.tankCapacity}}" disabled>
                                        <label for="floatingInputGrid">Premium Tank capacity (litres)</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="floatingInputGrid" value="{{station.fuelGrades.Premium.fuelAmount}}" disabled>
                                        <label for="floatingInputGrid">Premium Current fuel levels (litres)</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="floatingInputGrid" name="Premiumlevel">
                                        <label for="floatingInputGrid">Premium Fuel amount</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="floatingInputGrid" value="{{station.fuelGrades.Super.tankCapacity}}" disabled>
                                        <label for="floatingInputGrid">Super Tank capacity (litres)</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="floatingInputGrid" value="{{station.fuelGrades.Super.fuelAmount}}" disabled>
                                        <label for="floatingInputGrid">Super Current fuel levels (litres)</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="floatingInputGrid" name="Superlevel">
                                        <label for="floatingInputGrid">Super Fuel amount</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <input type="hidden" name="token" value="{{csrfToken}}">
                                    <input type="hidden" name="station_id" value="{{station.managerID}}">
                                    <div class="d-grid gap-2">
                                        <input class="btn btn-primary" type="submit" value="Record Delivery">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</body>